<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Registrar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [formGroup]="formProduct">
    <ion-item>
      <ion-input label="Nombre" label-placement="floating" placeholder="ingrese el nombre" #name formControlName="name"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-textarea label="descripcion" label-placement="floating"  placeholder="ingrese la descripcion" #description formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Precio" label-placement="floating" placeholder="ingrese el precio" #price formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Stock" label-placement="floating" placeholder="ingrese el stock" #stock formControlName="stock"></ion-input>
    </ion-item>
   
  </ion-list>
  
  <ion-button *ngIf="formProduct.valid" expand="block" (click)="formSubmit()">Guardar</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message={{message}}
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>